.header__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  margin: 0 1.875% auto auto;
}

@media screen and (min-width: 1280px){
  .header__text{
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
}