.popup__name-error_visible {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}