.popup__name_job {
    min-width: 358px;
    text-decoration: none;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    margin: 0px 30px 0px 36px;
    border-style: none none solid none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 770px) {
    .popup__name_job {
        min-width: 238px;
        margin: 0px 18px 0px 22px;
    }

}