.popup__name-error {
    color: #FF0000;
    display: block;
    width: 362px;
    max-height: 30px;
    min-height: 30px;
    margin: 0px 0px 0px 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width:767px) {
    .popup__name-error {
        width: 242px;
        margin: 0px 0px 0px 22px;
    }
}