.header {
  max-width: 880px;
  margin: 0px auto 40px;
  padding: 45px 0px 41px 0px;
  border: 1px solid rgba(84, 84, 84, .7);
  border-style: none none solid none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 340px) {
  .header {
    margin: 28px 0px 42px 0px;
    padding: 0px 0px 27.6px 0px;
  }

}